#block-seat-container
{
    position: relative; 
    top:10px; 
    left:0px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.seat-row, .seat-row:hover
{
    display: table;
    cursor:default;
}

.seat,.seat:hover
{
    float:left; 
    width:30px; 
    height: 30px; 
    text-align: center; 
    position: absolute;
    border:1px solid #dbe9fc;
    z-index: 100;
}


.seat-label, .seat-label:hover
{
    display: block;
    width:24px; 
    height: 24px; 
    margin-top: 2px;
    margin-left: 2px;
    padding-top: 4px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    cursor:default;
    font-size: 11px;
}

.resizableSelector
{
    position: absolute; 
    cursor: default; 
    top:0px; left:0px; 
    width: 1px; height: 1px;
    background-color: #90b9f9; 
    border:1px solid #5d9bfc; 
    opacity: 0.5;
    z-index:100;
}

.rowInput
{
    width: 40px;
    position: relative;
    left: -50px;
    height: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    padding-left: 5px;
}

.green
{
    background-color: #5cd65c;
    border:1px solid #1f7a1f;
}

.blue
{
    background-color: #33adff;
    border:1px solid #005c99;
}

.red
{
    background-color: #ff704d;
    border:1px solid #b32400;
}

.pink
{
    background-color: #ff99bb;
    border:1px solid #e6004c;
}

.purple
{
    background-color: #ff4dff;
    border:1px solid #990099;
    
}

.yellow
{
    background-color: #ffff80;
    border:1px solid #cccc00;    
}

.brown
{
    background-color: #ffcc99;
    border:1px solid #e67300;      
}

.grey
{
    background-color: #d9d9d9;
    border:1px solid #666666;       
}