<div id="block-seat-container" (mouseenter)="onMouseEnter($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)">
    <div class="seat-row" *ngFor="let row of _ContainerSeat">
        <div class="seat" *ngFor="let seat of row" (click)="TriggerEvent(seat)" 
            [style.top.px]="seat.Top" 
            [style.left.px]="seat.Left" 
            [style.background-image]="'url(' + seat.Src + ')'" 
            [attr.top]="seat.Top" 
            [attr.left]="seat.Left">
          <span class="seat-label" *ngIf="seat.SeatClass!=4">{{ seat.RowNumber }}</span>
        </div>
    </div>
    <div #resizable class="resizableSelector" [style.display]="startSelect"></div>





    <div class="info" style="position: relative; left:400px; top:-118px">
        <p class="type">Type: {{event?.type}}</p>
        <p>x: {{clientX}}, y: {{clientY}}</p>
    </div>
</div>